<ion-content padding>
  <div class="container">
    <div class="header">
      <div class="logo">

      </div>
      <div class="texto-logo">
<h1>Beerfy</h1>
      </div>

    </div>
    <div class="navigate">
      <p class="active">INGRESAR</p>
      <p>REGISTRAR</p>

    </div>
    <div class="slide-container">
      <ion-slides pager="false" >
        <ion-slide>
          <div class="input-container">
              <ion-item lines="none">
                  <ion-input  placeholder="Email"></ion-input>

                </ion-item>
          </div>
          <div class="input-container">
              <ion-item lines="none">
                  <ion-input  placeholder="Clave"></ion-input>

                </ion-item>
            </div>
            <div class="btn-container">
                <ion-button shape="round" expand="block">INGRESAR</ion-button>

            </div>
        


 



        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
        </ion-slide>

      </ion-slides>
    </div>


  </div>
</ion-content>