<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-menu-button class="icono"></ion-menu-button>
      </ion-buttons>
      <ion-title>
Promociones        
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div class="container">
        <div class="header"  text-center>
          <h1 class="title">¡20% de descuento!</h1>
          <h3  class="subtitle" >Hasta las 1:00</h3>

          </div>
      <div class="inicio">

      </div>
      <div class="segundo">
          <ion-button expand="block" class="button-canje">Canjear</ion-button>

      </div>

    </div>


  </ion-content>
  