.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  
  }

  .welcome-card :hover{
    -webkit-transition: transform 1s ease-in-out;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }