<ion-app>
  <ion-split-pane>
    <ion-menu type="push">
      <ion-header >
        <ion-toolbar >
            <ion-buttons slot="end" (click)="closeMenu()" color="medium">
                  <ion-icon slot="start" name="close"  ></ion-icon>
              </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="menu">
        <ion-list >
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages" >
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none" detail="false" text-center>
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <ion-label >
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class="row" >
          <ion-item lines="none" detail="false" text-center>
             <ion-label>
            Cerrar
            </ion-label> 
          </ion-item>
        
        
        </div>
      </div>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
