<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button class="icono"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Beer Scan
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-grid  *ngIf="!escanenado"  >
        <ion-row class="">
            <ion-col text-center >
<h1>Escanea el código de barras de tu<br> <span class="beer">!Cerveza!</span></h1>   
              </ion-col>
          <ion-col size="8" offset="2" class="wizard" >
            <ion-img src="../assets/qr.png" id="slide"></ion-img>

          </ion-col>

  </ion-row>
</ion-grid>


<!-- <app-preview *ngIf="escanenado" ></app-preview> -->
<video *ngIf="escanenado" 
    id="video"
    width="100%"
    height="100%">
</video> 
    <ion-fab vertical="bottom" horizontal="end" slot="fixed"*ngIf="!escanenado" >
      <ion-fab-button (click)="escanear()" color="medium">
          <ion-icon name="qr-scanner" class="icono"></ion-icon>  
            </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="escanenado">
        <ion-fab-button (click)="cancelScan()" color="medium">
            <ion-icon name="qr-scanner" class="icono"></ion-icon>  
              </ion-fab-button>
      </ion-fab>
</ion-content>
