<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button  (click)="scan()">click</ion-button>
<div class="video" style="width:100%">
  <video id="barcodeScanStream"></video>
</div>

<div class="inputControls">
  <div id="deviceready">
      <!-- 0 is the front camera, 1 is the back camera -->
      <input type="text" id="barcodeScanDevice" placeholder="1">
  </div>
</div>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="cancelScan()">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
